[submodule "pyCloudSim"]
	path = pyCloudSim
	url = https://github.com/m45t3r/pyCloudSim.git
	branch = mac5910
[submodule "planetlab-workload-traces"]
	path = planetlab-workload-traces
	url = https://github.com/vonpupp/planetlab-workload-traces.git
[submodule "google-workload-traces"]
	path = google-workload-traces
	url = https://github.com/m45t3r/google-workload-traces.git
